.container {
  width: 70%;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #30343a;
  border-radius: 10px;

  -webkit-box-shadow: 14px 17px 10px -4px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 14px 17px 10px -4px rgba(0, 0, 0, 0.74);
  box-shadow: 14px 17px 10px -4px rgba(0, 0, 0, 0.74);

  &__title-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    &__icon {
      width: 20px;
      margin-right: 10px;
    }

    &__title {
      word-break: break-all;
      color: #f4f4f4;
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      line-height: normal;
    }
  }

  &__description {
    font-size: 1rem;
    color: #d9d9d9;
    margin-bottom: 15px;
  }

  &__info-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__icon {
      margin-right: 10px;
      width: 20px;
    }

    &__title {
      margin: 0 10px 0 0;
      color: #d9d9d9;
    }
  }
}
