.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 2rem;
    color: #666;
  }
}

.mat-spinner-color::ng-deep circle {
  stroke: #666 !important;
}
